:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Color Palette */
    /*  */
}

body {
    align-self: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hero usp" "content content";
}

.banner {
    background-color: blue;
    text-align: center;
    padding: 2rem;
    align-self: inherit;
}

nav {
    background-color: orange;
    padding: 1rem;
    text-align: center;
}

.usp {
    grid-area: usp;
    background-color: red;
    padding: 2rem;
}

.hero-image {
    grid-area: hero;
    background-color: yellow;
    padding: 2rem;
}

.content {
    grid-area: content;
    background-color: linen;
    padding: 2rem;
}

footer {
    grid-area: footer;
    background-color: green;
    padding: 1rem;
    text-align: center;
    align-self: inherit;
    border: solid red;
}