/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');
:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Roboto', sans-serif;
    /* Color Palette */
    --white: white;
    --off-white: rgb(211, 211, 211);
    --black: black;
    --black-light: rgb(60, 60, 60);
    --green: greenyellow;
    /*  */

    --default-shadow: 0px 5px 10px black;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "hero usp" "content content";
}

/* mobile layout */

@media (max-width: 500px) {
    .grid-wrapper {
        grid-template-columns: auto;
        grid-template-areas: "hero" "usp" "content";
    }
    h1 {
        font-size: 1em;
        margin: 1rem;
    }
    nav>a {
        padding: 0px;
        margin: -10px;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.banner {
    background-color: var(--white);
    text-align: center;
    padding: 2rem;
    align-self: inherit;
    font-size: 3rem;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Carter One', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
}

nav {
    background-color: var(--black);
    text-align: center;
}

nav>a, nav>p {
    text-decoration: none;
    color: var(--white);
    font-weight: 900;
    padding: 1rem;
    border-radius: 5px;
}

nav>a:hover {
    background-color: var(--black-light);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
}

.usp {
    grid-area: usp;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    z-index: 5;
}

.hero-image {
    grid-area: hero;
    background-color: var(--white);
}

img {
    display: flex;
    width: 100%;
}

.content {
    grid-area: content;
    background-color: var(--white);
    padding: 2rem;
}

.plan-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.payment-plan {
    background-color: var(--green);
    border-style: solid;
    border-radius: 20px;
    padding: 5rem;
    margin: 1rem;
    box-shadow: var(--default-shadow);
}

footer {
    grid-area: footer;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
    text-align: center;
}